---
layout: clean
title: Francisco Guzmán | CV
before-pubs:
  -
    heading: Education
    items:
      -
        title: Ph.D
        year: 2011
        detail: Instituto Tecnológico y de Estudios Superiores de Monterrey. Advisor&#58; Leonardo Garrido. Co-Advisor&#58; Stephan Vogel.  Dissertation&#58; <i>Machine Translation by Pattern Matching</i>
      -
        title: M.S. (Double degree)
        year: 2004
        detail: EPF - École d'Ingénieurs. 
      -
        title: B.S (Double degree)
        year: 2004
        detail: Instituto Tecnológico y de Estudios Superiores de Monterrey. <i> Physics Engineering </i>
  -
    heading: Appointments
    items:
      -
        title: Scientist
        year: 2012 &ndash; present
        detail: Qatar Computing Research Institute
      -
        title: Postdoctoral Researcher
        year: 2012 &ndash; 2012
        detail: Qatar Computing Research Institute
      -
        title: Visiting Scholar
        year: 2008 &ndash; 2009
        detail: Carnegie Mellon University

after-pubs:
  -
    heading: Awards 
    items:
      -
        title: Best poster award
        year: 2007
        detail: For CiCLing paper <i>Training a Log-Linear Parser with Loss Functions via Softmax-Margin</i> with Leonardo Garrido
  -
    heading: Grants
    items:
      -
        title: EMNLP 2014&#58; Formal and empirical foundations of semantics-preserving machine translation
        year:  2014
        detail: With Kemal Oflazer. Qatar National Research Fund, QAR 70K
  -
    heading: Invited Talks
    items:
      -
        title: Title
        year: Year
        detail: Where
      - 
        title: Introduction to Machine Translation
        year: 2008
        detail: Orizaba
  
  -
    heading: Student Committees
    items:
      -
        title: Roberto Aceves
        detail: Dissertation committee, ITESM, 2011. M.S. awarded 2011
        
  -
    heading: Consulting
    items:
      -
        title: Visiting Scientist
        year: 2013
        detail: SDL Research
  -
    heading: Professional Service
    items:
     

      - 
        title: Proposal Evaluator
        detail: Challenge 22, Supreme Committee for Delivery &amp; Legacy (SC)
      -
        title: Program Committee
        detail: DiscoMT 2015, WMT 2014,  AICCSA 2014, LT4CloseLang 2014
      -
        title: Reviewer
        detail: Journal of Artificial Intelligence Research, Computer Speech and Language
      -
        title: Reviewer
        detail: WMT, SemEval
      -
        title: Subreviewer
        detail: COLING, CiCling
      -
        title: Organizer
        detail: EMNLP, 2014
      -
      
      
  -
    heading: Engineering Positions
    items:
      -
        title: Software Engineer
        year: 2005-2006
        detail: Neoris.
---
<div class="page-header">
  <h3>Francisco Guzman</h3>
</div>

{% include cv-list.html categories=page.before-pubs %}
<h4>Publications</h4>
{% include paper-list.html venue='journal' heading='Journals' %}
{% include paper-list.html venue='conference' heading='Conferences and Transactions' %}
{% include paper-list.html venue='workshop' heading='Workshops and Demonstrations' %}
{% include cv-list.html categories=page.after-pubs %}


