---
layout: default
title: Paco Guzman
picture: paco
     
---

<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Francisco (Paco) Guzmán</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        Scientist<br/>
        <a href="http://qcri.com/our-research/arabic-language-technologies/arabic-language-technologies/">Arabic Language Technologies</a><br/>
        <a href="http://qcri.com/">Qatar Computing Research Institute</a><br/>
        <a href="http://qf.org.qa">Qatar Foundation</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:fguzman@qf.org.qa"><span class="glyphicon glyphicon-envelope"></span></a> Email<br/>
      <!--<a href="tel:+44-1316504430"><span class="glyphicon glyphicon-phone"></span>+44 131 650 4430</a><br/>-->
      <a href="http://scholar.google.com/citations?user=eEBT0BAAAAAJ">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>
      <a href="http://github.com/guzmanhe">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github
    </div>
  </div>
</div>

<blockquote>
  <p>
 I am a Scientist working at the Arabic Language Technologies group at QCRI. I have been working in different sub-disciplines of Machine Translation since 2006.  My interests lie at the intersection of Language Technologies, Statistics and Machine Learning. I love learning new languages.</p>
</blockquote>

<h4>News</h4>
<ul class="list-group">
{% for item in site.data.news %}
   <li class="list-group-item"><span class="badge" >{{item.date | date: "%-d %b %y"}}</span><span>{{ item.text }}</span></li>
{% endfor %}
</ul>

<h4>Selected Papers</h4>

{%assign papers= site.data.papers | sort: "year" | reverse  %}
{% for post in papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}


